# Prerequisites
*.deps
Bombe
BombeControl
BombeTest
BombeTest.log
BombeTest.trs
GridGenerator
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depmod
install-sh
missing
depcomp
test-driver
test-suite.log
Android
android
*.orig
*.rej
vgcore.*
db.save*
